body {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  /* background-color: var(--main-background-color); */
}

.main-container {
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}